body{
font-family: Dancing Script;
background-color: #02010a;
font-size: 100%;
margin: 0 auto;
text-decoration: none;
}
.contenido{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  animation: slidein 2s;
  position: relative;
}
@-webkit-keyframes slidein{
  0%{margin-top: 150%;}
  60%{margin-top: -5%;}
  100{margin-top: 0%;}
}
h1{
  text-align: left ;
  color: white;
  text-shadow: 2px color:#02010a;
  margin-top: auto;
}
#menu{
  text-align: right;
}
.bloque{
  background-color: #d5c75f;
  height: 700px;
}
section{
  display: flex;
}

img{
  border: 1px solid black;
  box-shadow: 2px 2px 2px #02010a;
}
#imagen1{
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 10%;
  width: 80%;
  height: 300px;
  filter: blur(10px);
}
#imagen2{
  margin-top: 30px;
  margin-bottom: 0px;
  width: 80%;
  height: 300px;
  filter: grayscale(100%);
}
#imagen3{
  margin-top: 30px;
  margin-bottom: 0px;
  width: 80%;
  height: 300px;
  transform: translateX(25px);
  filter: sepia(90%);
}
#imagen4{
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 10%;
  width: 80%;
  height: 300px;
  filter: grayscale(100%);
}
#imagen5{
  margin-top: 30px;
  margin-bottom: 0px;
  width: 80%;
  height: 300px;
}
#imagen6{
  margin-top: 30px;
  margin-bottom: 0px;
  width:80%;
  height: 300px;
  transform: translateX(25px);
  filter: grayscale(100%);
}

footer{
  background: #C6d5c5;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
footer img{
  border-radius:0px 0px 10px 10px;
}
#contacto{
  min-height: 200px;
  width: 35%;
  font-size: 1.2em;
  color: black;
}
#terminos{
  min-height: 200px;
  width: 37%;
  padding-left: 1em;
  font-size: 1.1em;
  color: black;
}
#redes{
  min-height: 200px;
  width: 30%;
  font-size: 1.1em;
  color: black;
}
#derechos{
  min-height: 200px;
  width: 25%;
  font-size: 1.3em;
  color: black;
}
#facebook{
  width: 25px;
  height: 25px;
}
#youtube{
  width: 25px;
  height: 25px;
}
#twitter{
  width: 25px;
  height: 25px;
}
@media all and (max-width: 900px;) and (min-width:480px;) {
  header{
    width: 100%;
    order: 1;
  }
  #imagen1{
    width: 100%;
    order: 2;
  }
  #imagen2{
    width: 100%;
    order: 3;
  }
  #imagen3{
    width: 100%;
    order: 4;
  }
  #imagen4{
    width: 100%;
    order: 5
  }
  #imagen5{
    width: 100%;
    order: 6;
  }
  #imagen6{
    width: 100%;
    order: 7;
  }
  footer{
    width: 900px;
    order: 8;
  }
}
@media all and (max-width: 480px;) {
  header{
    width: 100%;
    order: 1;
  }
  #imagen1{
    width: 100%;
    order: 2;
  }
  #imagen2{
    width: 100%;
    order: 3;
  }
  #imagen3{
    width: 100%;
    order: 4;
  }
  #imagen4{
    width: 100%;
    order: 5
  }
  #imagen5{
    width: 100%;
    order: 6;
  }
  #imagen6{
    width: 100%;
    order: 7;
  }
  footer{
    width: 100%;
    order: 8;
  }
}
