body{
font-family: Dancing Script;
background-color: #02010a;
font-size: 100%;
margin: 0 auto;
text-decoration: none;
}
.contenido{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  flex-direction: column;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  animation: slidein 1s;
  position: relative;
}
@-webkit-keyframes slidein{
  0%{margin-top: 150%;}
  60%{margin-top: -5%;}
  100{margin-top: 0%;}
}

h1{
  text-align: left ;
  color: white;
  text-shadow: 2px color:#02010a;
  margin-top: auto;
}
#menu{
  text-align: right;
}
.bloque1{
  background-color: #82c3a6;
}
.bloque2{
  background-color: #d5c75f;
  height: 50%;
  width: 100%;
  flex-direction: column;
}
.bloque3{
  background-color: #d5c75f;
  height: 50%;
  width: 100%;
  flex-direction: column;
}
section{
  display: flex;
}
img{
  border: 1px solid black;
  box-shadow: 2px 2px 2px #02010a;
}

#imagen2 img{
  transform: rotate(0deg);
  transition-property: rotate;
  transition-duration: 2s;
  transition-timing-function:
  linear;}
#imagen2:hover{
  transform: rotate(10deg);
  box-shadow: #82c3a6;
  border: 2px;
}

#imagen3:hover{
  transform: translate3d(20px,0px,5px);
  transition-duration: 1s;
  box-shadow: #82c3a6;
  border: 2px;
}

#imagen1{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 80%;
  height: 90%;
}
img{
  transform: scale(1.05,0.93);
}

#imagen2{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10%;
  width: 80%;
  height: 90%;
}

#imagen3{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10%;
  width: 80%;
  height: 90%;
}
footer{
  background: #C6d5c5;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
footer img{
  border-radius:0px 0px 10px 10px;
}
#contacto{
  width: 35%;
  font-size: 1.2em;
  color: black;
}
#terminos{
  width: 37%;
  padding-left: 1em;
  font-size: 1.1em;
  color: black;
}
#redes{
  width: 30%;
  font-size: 1.1em;
  color: black;
}
#derechos{
  width: 25%;
  font-size: 1.3em;
  color: black;
}
#facebook{
  width: 25px;
  height: 25px;
}
#youtube{
  width: 25px;
  height: 25px;
}
#twitter{
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 900px) and (min-width:480px) {
  header{
    width: 100%;
    order: 1;
  }
  .bloque1{
    width: 100%;
    order: 2;
  }
  .bloque2{
    width: 50%;
    order: 3;
  }
  .bloque3{
    width: 50%;
    order: 4;
  }
  footer{
    width: 900px;
    order: 5;
  }
}
@media only screen and (max-width: 500px) {
  header{
    width: 100%;
    max-width: 480px;
    order: 1;
    display: flex;
    flex-direction: column;
  }
  .bloque1{
    width: 100%;
    max-width: 480px;
    order: 2;
    display: flex;
    flex-direction: column;
  }
  .bloque2{
    width: 100%;
    max-width: 480px;
    order: 3;
    display: flex;
    flex-direction: column;
  }
  .bloque3{
    width: 100%;
    max-width: 480px;
    order: 4;
    display: flex;
    flex-direction: column;
  }
  footer{
    width: 100%;
    max-width: 480px;
    order: 5;
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
  }
}
